.box {
    float: left;
    width: 50%;
    height: 400px;
}

.parent {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.box1 {
    background-color: aqua;
}

.box2 {
    background-color: rgb(64, 39, 255);
}